
@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="POSManagement">
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Apps/app/app.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Apps/JSController/LoginController.js"></script>
    <script src="~/Apps/JSService/LoginService.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

    @*<title>Login</title>*@
</head>
<body>
<div class="container" ng-app="POSManagement" ng-controller="LoginController">
    <div class=" w3l-login-form">
        <h2>Login Here</h2>
        @*<form action="#" method="POST">*@
        <div class=" w3l-form-group">
            <label>Username</label>
            <div class="group">
                <input id="txtUserName" style="border:none" ng-model="obj.UserName" type="text" class="form-control" placeholder="Username" required="required" />
            </div>
        </div>
        <div class=" w3l-form-group">
            <label>Password</label>
            <div class="group">
                <input id="txtPassword"style="border:none" ng-model="obj.Password" type="password" class="form-control" placeholder="Password" required="required" />
            </div>
        </div>
        <div class="forgot">
            <a href="#">Forgot Password?</a>
            <p><input type="checkbox">Remember Me</p>
        </div>
        @*<button type="submit">Login</button>*@
        <button type="submit" value="Login" ng-click="login(obj.UserName,obj.Password)" style="border-radius:5px;">Login</button>
        @*</form>*@
    </div>
</div>
</body>
</html>
