
@{
    ViewBag.Title = "T12003";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        text-align: center !important;
    }

    input[type="text"] {
        border-radius: 0.35em;
        height: 1.55em;
    }

    .dis {
        display: inline-block
    }
    .botmar {
        margin-bottom: 2%;
    }
</style>

<div class="container"  style="display: inline-block; border: solid lightsalmon; padding: 1%;">
    @*<table style="border:  solid lightseagreen">
            <tr>
                <td>
                    <label>Product Id</label>
                </td>
                <td>
                    <input id="txtProductId" type="text" class="form-control" />
                </td>
                <td>
                    <label>Product Name</label>
                </td>
                <td>
                    <input id="txtProductId" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td>
                    <input id="txtProductId" type="text" class="form-control"  />
                </td>
            </tr>
        </table>*@
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6" >
            <label>Product Id</label>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <input id="txtProductId" type="text" class="form-control" />
        </div>
    </div>
    <div class=row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <label>Product Type</label>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <input id="txtProductId" type="text" class="form-control" />
        </div>
    </div>
    <div class="botmar">
        <div class="dis">
            <label>Product Name</label>
        </div>
        <div class="dis">
            <input id="txtProductId" type="text" class="form-control" />
        </div>
    </div>



</div>

