
@{
    ViewBag.Title = "T12003";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        /*text-align: center !important;*/
    }

    input[type="text"] {
        border-radius: 0.35em;
        height: 1.55em;
    }

    .dis {
        display: inline-block
    }

    .botmar {
        margin-bottom: 2%;
    }
</style>

<div ng-app="POSManagement" ng-controller="T12003Controller" style="width: 1152px; margin-left: -27px;">
    <div class="row">
        <div class="col-md-3 col-lg-3"></div>
        <div class="col-md-4 col-lg-4">
            <label>Product Id</label>
        </div>
        <div class="col-md-2 col-lg-2">
            <input id="txtProductId" type="text" class="form-control" />
        </div>
        <div class="col-md-3 col-lg-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3"></div>
        <div class="col-md-4 col-lg-4">
            <label>Product Name</label>
        </div>
        <div class="col-md-3 col-lg-3">
            <input id="txtProductId" type="text" class="form-control" />
        </div>
        <div class="col-md-3 col-lg-3"></div>
    </div>
</div>

