
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Apps/JSController/Menu/MenuController.js"></script>
<script src="~/Apps/JSService/Menu/MenuService.js"></script>*@

<div style="width: 1152px; margin-left: -27px;">

    <div class="col-lg-12 col-md-12 col-sm-12">
       
        Menu page
        
    </div>
</div>

